:root {
  --main-font: "Red-october", sans-serif;
  --main-color: #f9eba1;
  --special-color: #f5c143;
  --special-red: #981e14;
}

@font-face {
  font-family: "Red-october";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/red-october/Red-October.ttf");
  font-display: swap; 
}

@font-face {
  font-family: "Red-october-bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/red-october/Red-October-Fat.ttf");
  font-display: swap; 
}

@font-face {
  font-family: "Red-october-light";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/red-october/Red-October-Light.ttf");
  font-display: swap; 
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 26px;
  background-color: #000000;
  overflow-x: hidden;
}

/************************************************************************

                              HEADER STYLES

************************************************************************/

.page-header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px 60px;
  background-color: #000000;
}

.nav-logo-link {
  position: relative;
  margin-right: 120px;
}

.nav-logo-c {
  position: absolute;
  right: 0;
  top: -10px;
  color: var(--special-color);
  font-size: 20px;
}

.nav-logo-link:hover {
  opacity: 0.6;;
}

.nav-logo-b {
  position: absolute;
  left: -8px;
  top: -10px;
  color: var(--special-red);
  font-size: 30px;
}

.navigation {
  display: flex;
  width: 100%;
}

.navigation-list {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  align-items: center;
}

.navigation-item:not(:last-child) {
  margin-right: 60px;
}

.nav-location {
  margin-left: 120px;
}

.navigation-link {
  font-family: var(--main-font);
  color: var(--main-color);
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-item:last-of-type {
  margin-left: auto;
}

.navigation-item:last-of-type .navigation-link {
  color: var(--special-color);
}

.location-btn {
  color: var(--special-color);
  border: none;
  background: none;
  border-bottom: 2px dashed var(--special-color);
  font-size: 20px;
  cursor: pointer;
  white-space: nowrap;
}

.location-btn::before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
  width: 17px;
  height: 30px;
  background-image: url("../images/icon-address.svg");
  background-size: 17px 30px;
  background-position: center;
  background-repeat: no-repeat;
}


/************************************************************************

                              MAIN STYLES

************************************************************************/

.page-main {
  padding: 0;
  margin: 0;

}

.first-section {
  padding: 0;
  padding-top: 100px;
  margin: 0;
  width: 100%;
  height: 960px;
  background-image: url("../images/background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-title {
  margin: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items:center;
}

.main-title span:first-of-type {
  color: var(--special-red);
  font-size: 100px;
  margin-bottom: 60px;
}

.main-title span:last-of-type {
  color: var(--special-color);
  font-size: 48px;
}